{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page_title">
    <h1> Global Culinary Tools Archive </h1>
</div>
<div class="intro">
    <p>
        The Archive is an ongoing collection of culinary tools of all types from around the world.
    </p>
</div>
<hr>
<p>
    <a href="https://imgur.com/nb4IYnq"><img src="https://i.imgur.com/nb4IYnq.jpg" title="homebanner
        " /></a>
</p>
<h3> What is This Project About? </h3>
<p>
    The Global Culinary Tools Archive is a project by Darice Wong, Tina Liu, Yun-Chieh Lin, and Jay Sahaym which seeks to digitize unique cooking tools from different cultures. 
    </p>
    Currently, the objects we have been able to source remain limited to tools from Chinese and Indian culinary traditions. The culinary functions of the tools vary widely. Our digital collection preserves information about the unique visual and functional design of these objects, their particular culinary purpose, and the cultural and historical context of their usage.
<h3> Why Do We Care About Culinary Tools? </h3>
<p>Eating is closely related to human life, so we believe that digitizing different cultural cooking utensils is a way to build bridges of cultural understanding. 
It can help us better understand different cultures' geography, history, climatic characteristics, and economic background. 
Therefore, preserving information about different cultural cookware is a form of valuing and appreciating different indigenous knowledge as cultural assets.
</p>

<p>
The metadata we collect will help to make the information about these cooking tools more accessible and searchable. On top of this, preserving the information about design, culinary purpose and cultural significance will allow us to compare and contrast the culinary traditions cross-culturally and subsequently deepen our understanding of the relationship between food and culture.
</p>

Our archive also has a space for featured exhibits that bring together objects that originate from different cultures but which are used for similar culinary purposes. Exhibiting related tools and the processes they are used for will provide us an opportunity to examine the similarities and differences between cultures. We hope to draw out a better understanding of the circumstances, features, and needs of different cultures which led to the development of these fascinating objects.
<br>
</body>

<hr>

<h2> Exhibitions on View </h2>

<li> <a href="exhibit/"> Teatime Through Time </a>: Showcasing the world’s tools for brewing and drinking tea
</li>

</div>

<h2> Our Full Collection </h2>

<li><a href="archive/">The Archive</a> </li>

{% endblock %}