{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <a href="/"> Back to Home Page </a>
</div>
<div class="page_title">
    <h2>Current Exhibits</h2>
</div>
<div class="content">
    {% if exhibits %}
    <ul>
        {% for exhibit in exhibits %}
        <li>
            <div class="exhibit"><a href="{{exhibit.id}}">{{exhibit.name}} </a> : {{exhibit.snippet}} </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No exhibits yet!</p>
    {% endif %}
</div>

{% endblock %}